<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.mapper.StudentsMapper">
    <insert id="add">
        INSERT INTO `person` (
        `id`,
        `name`,
        `gender`,
        `age`,
        `phone`,
        `id_card`,
        `account`,
        `password`,
        `salt`,
        `role_type`,
        `position`
        ) VALUES (
        #{id},
        #{name},        <!-- 对应Student实体类的name属性 -->
        #{gender},      <!-- 对应gender属性（1男/2女） -->
        #{age},         <!-- 对应age属性 -->
        #{phone},       <!-- 对应phone属性 -->
        #{idCard},      <!-- 对应idCard属性（实体类属性名若为idCard，这里写#{idCard}） -->
        #{account},     <!-- 对应account属性 -->
        #{password},    <!-- 对应加密后的password属性 -->
        #{salt},        <!-- 对应salt属性 -->
        #{role_type},        <!-- role_type固定为1（学生） -->
        #{position}     <!-- 对应position属性（比如“普通学生”） -->
        )
        order by id desc
    </insert>
    <update id="update">
        update person set name = #{name}, gender = #{gender}, age = #{age}
                , phone = #{phone}, id_card = #{idCard}, role_type = #{roleType},
                          position = #{position} , update_time = #{updateTime} where id = #{id}
                                                                                 and role_type=1
    </update>
    <delete id="delete" parameterType="com.dream.pojo.Students">
        delete from person where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
        and role_type = 1
    </delete>
    <select id="list" resultType="com.dream.pojo.Students">
    <!--          写学生的分页查询包含模糊查询名字和年级多表查询包括班级-->
        SELECT
        p.id AS student_id,
        p.name AS student_name,
        p.gender,
        p.age,
        p.phone,
        c.class_name,
        c.grade,
        c.head_teacher_id AS head_teacher_id,  -- 新增班主任ID字段
        role_type,
        position,
        id_card

        FROM
        person p
        INNER JOIN
        student_class sc ON p.id = sc.student_id
        INNER JOIN
        class c ON sc.class_id = c.id
        WHERE
        p.role_type = 1  -- 筛选角色类型为学生（1-学生）
        <if test="nameKeyword != null">
            AND p.name LIKE CONCAT('%', #{nameKeyword}, '%')
        </if>
        <if test="classKeyword != null">
            AND c.class_name LIKE CONCAT('%', #{classKeyword}, '%')
        </if>

        ORDER BY p.id DESC </select>
    <select id="getByAccount" resultType="com.dream.pojo.Students">
        SELECT * FROM person WHERE account = #{account} LIMIT 1
    </select>
    <select id="get" resultType="com.dream.pojo.Students">
        SELECT name, gender, age, phone, id_card, role_type, position FROM person WHERE id = #{id}
        and role_type = 1
    </select>
</mapper>